<div class="container">
 <div class="row">
  <div class="col-sm-6 mt-3">
   <h2>商品一覧</h2>
  </div>
 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col-sm-10 mx-auto mb-3">
   <div class="text-right"><%= link_to "新規登録", new_admin_item_path, class: "btn btn-primary" %></div>
  </div>
 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col-sm-6 mx-auto">
   <table class="table">
    <thead>
     <tr class="table-secondary">
      <th>商品名</th>
      <th></th>
     </tr>
    </thead>

    <tbody>
     <% @items.each do |item| %>
      <tr>
       <th><%= item.name %></th>
       <th class="text-center"><%= link_to "詳細", admin_item_path(item.id) %></th>
      </tr>
     <% end %>
    </tbody>
   </table>
  </div>
 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col-sm-10 mx-auto mb-3">
   <div class="col-2 mx-auto"><%= paginate @items %></div>
  </div>
 </div>
</div>
