<div class="top">

 <div class="container">
  <div class="row">
   <div class="col-sm-10 mx-auto">
    <div class="col-sm-10 col-md-8 col-lg-7 mx-auto content">
      <div>
        <h4><strong>得意先、得意先毎の提案商品の管理、日報など</br>
        営業マンの情報記録はお任せください</br>
        営業マンのもう一つの頭脳</strong></h4>
       <h2 class="text-center"><strong>SalesBrain</strong> <i class="fas fa-brain" ></i></h2>
      </div>
    </div>
   </div>
  </div>
 </div>
</div>

<style type="text/css">

 .top {
  height: 700px;
 }

 .content {
  margin-top: 250px;
  font-family: YuGothic;
  background-color: #3fcc9d;
 }

</style>