<div class="container">
 <div class="row">
  <div class="col-sm-6 mt-3 mb-3">
   <h3>トップページ</h3>
  </div>
 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col-sm-10 mx-auto">
   <div class="col-sm-10 col-md-8 mx-auto mb-5">
     <div>
       <h4>得意先、得意先毎の提案商品の管理、日報など</br>
       営業マンの情報記録はお任せください</br>
       営業マンのもう一つの頭脳</h4>
       <h2 class="text-center"><strong>SalesBrain</strong> <i class="fas fa-brain" ></i></h2>
     </div>
   </div>
  </div>
 </div>
</div>