<div class="container">
 <div class="row">
  <div class="col-sm-4 col-lg-3 mt-3 mb-3">
   <h3 class="title-user">営業マン一覧</h3>
  </div>
 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col-sm-10 mx-auto">
   <table class="table">
    <thead>
     <tr class="title-bar">
      <th>社員番号</th>
      <th>名前</th>
      <th></th>
     </tr>
    </thead>

    <tbody>
     <% @users.each do |user| %>
      <tr>
       <th><%= user.number %></th>
       <th><%= user.name %></th>
       <th class="text-center"><%= link_to "詳細", admin_user_path(user.id) %></th>
      </tr>
     <% end %>
    </tbody>
   </table>
  </div>
 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col-sm-10 mx-auto mb-3">
   <div class="col-2 mx-auto page"><%= paginate @users %></div>
  </div>
 </div>
</div>

<style type="text/css">

 .title-user {
  background:linear-gradient(45deg, #4fffc4, #fff);
  font-family: YuGothic;
 }

 .title-bar {
  background-color: #3fcc9d;
 }

 .page {
  font-family: HiraKakuPro-W6;
 }

</style>