<h2>日報一覧</h2>

<% @daily_reports.each do |daily_report| %>
 <%= daily_report.user.name %>
 <%= daily_report.customer.name %>
 <%= link_to "詳細", daily_report_path(daily_report.id) %>
<% end %>

<div><%= link_to "新規登録", new_daily_report_path %></div>